<header class="container justify-content-between d-flex flex-row align-items-center pt-2 border-bottom">

    <a routerLink="/" class="text-dark text-decoration-none">
      <img class="logo" src="../../../assets/images/logo.png" alt="logo">
      <span class="fs-4">Brasilian Store</span>
    </a>

    <nav class="links">
      <a class="me-3 py-2 fs-5 text-decoration-none"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
      <a class="me-3 py-2 fs-5 text-decoration-none" routerLink="/shop" routerLinkActive="active">Shop</a>
      <a class="me-3 py-2 fs-5 text-decoration-none" href="#" routerLinkActive="active">Contact</a>
      <a class="py-2 nav-link fs-5 text-decoration-none" routerLink="/test-error" routerLinkActive="active">Test Error</a>
    </nav>

    <div class="d-flex align-items-center">
      <a routerLink="/basket" class="position-relative">
        <i class="fa fa-shopping-cart fa-2x me-5 icon-cart"></i>
        <div *ngIf="(basketService.basketSource$ | async) as basket" class="cart-no">
          {{ getCount(basket.items) }}
        </div>
      </a>
      <ng-container *ngIf="(accountService.currentUser$ | async) === null">
        <a routerLink="/account/login" class="btn btn-primary me-2" role="button">Login</a>
        <button routerLink="/account/register" class="btn  btn-success me-2">Sing up!</button>
      </ng-container>
      <ng-container *ngIf="accountService.currentUser$ | async as user">
        <div class="dropdown ms-3 me-4" style="cursor: pointer;" dropdown>
          <a dropdownToggle class="dropdown-toggle" style="text-decoration: none;">
            <strong>Welcome {{ user.displayName }}</strong>
          </a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <li class="py-1">
              <a routerLink="/basket" class="dropdown-item">
                <i class="fa fa-shopping-cart me-3"></i> View basket
              </a>
            <li class="py-1">
              <a routerLink="/orders" class="dropdown-item">
                <i class="fa fa-history me-3"></i> View orders
              </a>
            <div class="dropdown-divider"></div>
            <li class="py-1">
              <a (click)="accountService.logout()" class="dropdown-item">
                <i class="fa fa-sign-out me-3"></i> Logout
              </a>
          </ul>
        </div>
      </ng-container>
    </div>

</header>
